body {
    font-family: ubuntu, sans-serif;
    background: #7B8183;
    margin: 0;
    height: 800px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#mainHeader {
    color: #BC81BF;
    font-size: 40px;
    text-shadow: 3px 3px 10px white;
    margin: 0;
    width: 350px;
    text-align: center;

}

.calculator {
    width: 420px;
    height: 600px;
    background: #DBDBDB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    border-style: solid;
    padding: 5px;
    padding-bottom: 20px;
    padding-top: 5px;
}

.display {
    display: flex;
    flex-direction: column;
    background: #DFEDFA;
    width: 350px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 3px 3px 70px black;
    box-shadow: 3px 3px 10px black;
    border-radius: 10px;
    border-style: solid;
    font-size: 40px;
    flex-wrap: wrap;
}

#main {
    display: flex;
    justify-content: flex-start;
}

#answer {
    display: flex;
    justify-content: flex-end;
}

.topRow {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 350px;
    box-shadow: 3px 3px 10px black;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
}

.topButton {
    width: 120px;
    height: 50px;
    text-shadow: 3px 3px 50px black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    margin: 5px;
}

#posNeg {
    font-size: 35px;
    color: white;
    background: #ECC987;
}

#clear {
    background: #9AB7EE;
    font-size: 35px;
    color: white;
}

#delete {
    background: #EE9ABD;
    font-size: 35px;
    color: white;
}

.bottomFour {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 3px 3px 10px black;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
}

.calcButton {
    margin: 7px;
    background: #BC81BF;
    width: 80px;
    height: 50px;
    font-size: 25px;
    color: white;
    text-shadow: 3px 3px 50px black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
}

.buttonRow {
    display: flex;
    justify-content: space-around;
    width: 350px;
    margin: 0;
    padding: 0px;
}

.operator {
    background: #5F9F89;
}

#equals {
    background: #C1E1B6;
}